.main {
  color: #fff;
  margin: 40px 20%;
  text-align: center;
  justify-content: center;
  z-index: 10;

  a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #18aa94;
    }
  }
}

@media (max-width: 1000px) {
  .main {
    font-size: 10px;
    font-weight: normal;
  }
}
