.app {
  position: relative;
}

.dog {
  z-index: 1;
  position: absolute;
  top: 120px;
  left: 0;
  width: 20%;
}

.raccoon {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 20%;
}

@media (max-width: 450px) {
  .dog {
    visibility: hidden;
  }
}
